<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" 
                  arguments=".\MCBDS.Marketing.dll" 
                  stdoutLogEnabled="true" 
                  stdoutLogFile=".\logs\stdout" 
                  hostingModel="inprocess">
        <environmentVariables>
          <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Production" />
          <environmentVariable name="ASPNETCORE_DETAILEDERRORS" value="true" />
        </environmentVariables>
      </aspNetCore>
      
      <!-- Enable detailed errors for debugging -->
      <httpErrors errorMode="Detailed" />
      
      <!-- Static file handling -->
      <staticContent>
        <remove fileExtension=".js" />
        <mimeMap fileExtension=".js" mimeType="application/javascript" />
        <remove fileExtension=".json" />
        <mimeMap fileExtension=".json" mimeType="application/json" />
        <remove fileExtension=".wasm" />
        <mimeMap fileExtension=".wasm" mimeType="application/wasm" />
        <remove fileExtension=".dat" />
        <mimeMap fileExtension=".dat" mimeType="application/octet-stream" />
        <remove fileExtension=".blat" />
        <mimeMap fileExtension=".blat" mimeType="application/octet-stream" />
      </staticContent>
      
      <!-- URL Rewrite for ACME challenges -->
      <rewrite>
        <rules>
          <!-- Allow ACME challenge requests -->
          <rule name="ACME Challenge" stopProcessing="true">
            <match url="^\.well-known/acme-challenge/.*$" />
            <action type="None" />
          </rule>
        </rules>
      </rewrite>
    </system.webServer>
  </location>
</configuration>
